body{
    background-color: #ccc;
    font-family: monospace;
}

#page-layout{
    align-items: center;
    display: flex;
    flex-direction: column;
}


#title{
    font-size: 100px;
    margin-bottom: 20px;
}

.score{
    display: inline;
    font-size: 40px;
    margin: 50px;
}

.team-container{
    margin-top: 50px;
}

.team-roster-main-page{
    background-color: blue;
    display: flex;
    justify-content: center;
}

.main-page-button{

    height: 30px;
    width: 200px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
    margin: 20px;
}

.team-roster-position-main-page{
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 3px solid;
    background-image: url("/assets/images/empty-icon.png");
    background-size: 50px;
}

.selections{
    display: flex;
    justify-content: center;
}

.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}


.close-button:hover{
    transform: scale(1.2);
}

.main-page-button:hover{
    transform: scale(1.2);
}



.result-selection{
    opacity: .5;
}

.result-selection.winner{
    opacity: 1;
    font-size: 1.5rem;
}

.team-select-popup{
    width: 800px;
    height: 600px;
    position: fixed;
    top: 10%;
    left:0;
    background-color: rgb(30, 150, 30);
    opacity:0%;
    z-index: -1;
    text-align: center;
    
}

.battle-popup{
    width: 800px;
    height: 600px;
    position: fixed;
    top: 10%;
    left: 0;
    background-color: rgb(78, 82, 133);
    opacity:0%;
    z-index: -1;
    text-align: center; 
}

.close-button{
    position: absolute;
    width: 30px;
    height: 30px;

    right: 3px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}

.close-button X{
    top: 0px;
}

.confirm{
    position: absolute;
    bottom: 30px;
    right: 155px;
}


.show{
    opacity: 1;
    pointer-events: auto;
    z-index: +1;
}

.team-selection-bar{
    background-color: blue;
    margin-top: 50px;
}

.team-selection{
    height: 50px;
    width: 50px;
}

.team-roster{
    background-color: blue;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.team-roster-position{
    width: 100px;
    height: 100px;
    margin: 3px;
    border: 3px solid;
    background-image: url("/assets/images/empty-icon.png");
}

.game-window{
    height: 500px;
}

.first-output{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: azure;
    text-align: left;
    border-radius: 5px;
    border: 1px black solid;
}

.second-output{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: azure;
    text-align: left;
    border-radius: 5px;
    border: 1px black solid;
}


.move-bar{
        display: grid;
        grid-template-columns: 200px 200px 400px;

}

.move-button{

    height: 50px;

}

.monster-placeholder{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 100px;
    background-size: 300px
}

.enemy-placeholder{
    right: 50px;
    
}

.player-placeholder{
    left: 50px;
    transform: scaleX(-1);
}

.health-bar{
    position: absolute;
    width: 80px;
    height: 30px;
    top: 20px;
    background-color: bisque;
}

.player-health-bar{
    left: 80px;
}

.enemy-health-bar{
    right: 80px;
}

.bench{
    height: 76px;
    width: 455px;
    position: absolute;
    bottom: 100px;
    background-color: aqua;
    display: flex;
}

.swap-button{
    height: 70px;
    width: 70px;
    margin: 3px 5px 3px 5px;
    background-color: chartreuse;
    display: flex;
    background-size: 70px
}

.winner-declaration{
    position: absolute;
    height: 200px;
    width: 500px;
    font-size: 100px;
    top: 100px;
    left: 150px;
    z-index: 2;

}