body{
    background-color: #ccc;
}

.selections{
    display: flex;
    justify-content: center;
}

.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}

.selection:hover{
    transform: scale(1.2);
}

.results{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2 , 1fr);
    justify-items: center;
    align-items: center;
}

.results-score{
    margin-left: .1rem;
    font-size: .5rem;
    color: #333;
}

.result-selection{
    opacity: .5;
}

.result-selection.winner{
    opacity: 1;
    font-size: 1.5rem;
}

.team-select-popup{
    width: 800px;
    height: 600px;
    position: fixed;
    background-color: rgb(30, 150, 30);
    opacity:0%;
    z-index: -1;
    text-align: center;
    
}

.show{
    opacity: 1;
    pointer-events: auto;
    z-index: +1;
}

.team-selection-bar{
    background-color: blue;
    margin-top: 50px;
}

.team-selection{
    height: 50px;
    width: 50px;
}

.team-roster{
    background-color: blue;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.team-roster-position{
    width: 80px;
    height: 80px;
    margin: 3px;
    border: 3px solid;
    background-color: aquamarine;

}